<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/searchProduct">
    <div class="row">
        <div class="input-group w-25">
            <input type="text" name="name" class="form-control form-control-sm" placeholder="Input name"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
    </div>
</form>

   <form action="/create" method="post" th:object="${product}">
       <table>
          <tr>
              <td>ID</td>
              <td><input type="number" th:field="*{id}"></td>
          </tr>
          <tr>
              <td>Name</td>
              <td><input type="text" th:field="*{name}"></td>
          </tr>
          <tr>
              <td>Price</td>
              <td><input type="number" th:field="*{price}"></td>
          </tr>
          <tr>
              <td>Describe</td>
              <td><input type="text" th:field="*{describe1}"></td>
          </tr>
          <tr>
              <td>Producer</td>
              <td><input type="text" th:field="*{producer}"></td>
          </tr>
           <tr>
               <td><button type="submit">Create</button></td>
           </tr>
       </table>
   </form>
</body>
</html>